@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
  }


/* Estilo para os círculos */
.circle {
   width: 40px;
    height: 40px;
    background-color:  #FFFFFF;
    color: #004BAD;
    border-color: #004BAD;
    border-width: 2px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

/* Estilo básico para o modal */
#page-selector-modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50;
    justify-content: center;
    align-items: center;
}


/* Cursor de mira */
#pdf-container {
    cursor: crosshair;
}
#pdf-container {
    max-height: calc(100vh - 200px);
    /* Altura máxima ajustada para a tela */
}

@media (max-width: 640px) {
    #pdf-container {
        padding: 3px;
    }

    #zoom-buttons-container {
        padding: 1px;
    }
}
