@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte principal */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Botão de Página */
.page-btn {
    @apply px-4 py-2 rounded-md text-sm font-medium transition;
}

.page-btn:hover {
    @apply bg-gray-300 cursor-pointer;
}

.page-btn.active {
    @apply bg-[#004BAD] text-white;
}

/* Círculos Numerados */
.circle {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color: #004BAD;
    border: 2px solid #004BAD;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}
/* Contêiner do PDF - Cursor de Mira */
#pdf-container {
    @apply max-h-[calc(100vh-170px)];
    cursor: crosshair;
}

/* Botões de Navegação */
/* Estilo de Botão */
.page-btn {
    @apply px-4 py-2 rounded-md text-sm font-medium transition;
}

.page-btn:hover {
    @apply bg-gray-300 cursor-pointer;
}

.page-btn.active {
    @apply bg-[#004BAD] text-white;
}

/* Responsividade */
@media (max-width: 640px) {
    #pdf-container {
        @apply p-3;
    }

    #zoom-buttons-container {
        @apply p-1;
    }
}
